<div>
    

    <div ng-show="VisibleProfileInWork" class="panel panel-primary">
        <div class="panel-heading">Документы в работе за вами</div>

        <div class="panel-body">
            <div ng-show="processing['loadPersonsProfileInWork']
                    || processing['loadContractsProfileInWork']
                    || processing['loadPersonsProfileInWork']
                    || processing['loadPersonsProfileInWork']">

                <my-progressbar message="{{message}}"
                                visible="true"
                                typebar="line" />

            </div>

            <div ng-show="!processing['loadPersonsProfileInWork']
                    && !processing['loadContractsProfileInWork']
                    && !processing['loadPersonsProfileInWork']
                    && !processing['loadPersonsProfileInWork']">


                <h3>Закрепленные физ лица</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Дата исполнения</th>
                            <th>Клиент</th>
                            <th>Описание задачи</th>
                            <th>Тип задачи</th>
                            <th>Состояние</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in persons | orderBy: 'dateCreate' : true"
                            ng-class="{'danger': item.dateCreateFirstResult == null && item.isOverdue } ">
                            <td>{{item.dateWorker | dateFormatLong}}</td>
                            <td><a href="#/Person/Info/{{item.id_Person}}">{{item.personFullName}}</a></td>
                            <td>{{item.comment}}</td>
                            <td>{{item.taskTypeName}}</td>
                            <td>{{item.dateCreateFirstResult | dateFormatLong}}</td>
                        </tr>
                    </tbody>
                </table>

                <!--<table class="table">
                    <thead>

                    <th>Физ. лицо</th>
                    <th>Дата</th>
                    <th>Инициатор</th>
                    <th>Задача</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in persons | orderBy: 'dateCreate' : true"
                            ng-class="{'danger': item.dateCreateFirstResult == null } ">
                            <td>
                                <a href="#/Person/Info/{{item.id_Person}}">{{item.personFullName}}</a>
                                <br />
                                <ins>комментарий:</ins>
                                {{item.comment}}
                            </td>

                            <td>
                                <ins>дата создания:</ins>
                                <br />
                                {{item.dateCreate | dateFormatLong}}
                                <br />
                                <ins>план дата:</ins>
                                <br />
                                {{item.dateWorker | dateFormatLong}}
                                <br />
                                {{item.dateCreateFirstResult | dateFormatLong}}
                            </td>

                            <td>
                                <ins>инициатор:</ins>
                                <br />
                                {{item.createrFullName}}
                                <br />
                                <ins>в работе:</ins>
                                <br />
                                {{item.workerFullName}}
                            </td>

                            <td>
                                <b>{{item.taskTypeName}}</b>
                                <br />
                                коментарий: {{item.taskDescription}}
                                <br />
                                <ins>дата создания:</ins>
                                {{item.taskDateCreate | dateFormatLong}}
                                <br />
                                <ins>план дата:</ins>
                                {{item.taskDatePlanned  | dateFormatLong}}
                            </td>
                        </tr>
                    </tbody>
                </table>-->


                <h3>Закрепленные договоры</h3>

                <!--<div ng-show="VisibleAttachContractsProfileInWork">
                    <button class="btn btn-primary btn-sm"
                            ng-init="isSelectContractsAll = false;"
                            ng-click="isSelectContractsAll = !isSelectContractsAll; selectContractsAll(isSelectContractsAll);">
                        <div ng-show="!isSelectContractsAll">
                            выбрать все договора
                        </div>
                        <div ng-show="isSelectContractsAll">
                            снять все договора
                        </div>
                    </button>

                    <button class="btn btn-primary btn-sm" ng-click="attachContractsProfileInWork();">закрепить договора</button>
                    <button class="btn btn-primary btn-sm" ng-click="detachContractsProfileInWork();">открепить договора</button>
                    <br />
                    <br />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">выберите сотрудника</label>
                            <div class="col-sm-10">
                                <select ng-model="selectedContractProfile"
                                        ng-options="item as item.profileFullName for item in profiles"
                                        class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">укажите комментарий</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       placeholder="введите ваш комментарий"
                                       ng-model="commentContract" />
                            </div>
                        </div>
                    </div>
                </div>-->

                <table class="table">
                    <thead>

                        <!--<th ng-show="VisibleAttachContractsProfileInWork">закрепить</th>-->
                    <th>договор</th>
                    <th></th>
                    <th>инициатор</th>
                    <th>задача</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in contracts | orderBy: 'dateCreate' :true">


                            <!--<td ng-show="VisibleAttachContractsProfileInWork">
                                <button class="btn btn-primary btn-xs" ng-click="item.isSelected = !item.isSelected;">
                                    <div ng-show="!item.isSelected">
                                        выбрать
                                    </div>
                                    <div class="btn btn-primary btn-xs" ng-show="item.isSelected">
                                        снять
                                    </div>
                                </button>
                            </td>-->

                            <td>
                                <a href="#/Person/Info/{{item.id_Person}}">{{item.personFullName}}</a>
                                <br />
                                <a href="#/Contract/Info/{{item.id_Contract}}">{{item.contractNumber}}</a>
                                <br />
                                <ins>комментарий:</ins>
                                {{item.comment}}
                            </td>

                            <td>
                                <ins>дата создания:</ins>
                                <br />
                                {{item.dateCreate | dateFormatLong}}
                                <br />
                                <ins>план дата:</ins>
                                <br />
                                {{item.dateWorker | dateFormatLong}}

                            </td>

                            <td>
                                <ins>инициатор:</ins>
                                <br />
                                {{item.createrFullName}}
                                <br />
                                <ins>в работе:</ins>
                                <br />
                                {{item.workerFullName}}
                            </td>

                            <td>
                                <b>{{item.taskTypeName}}</b>
                                <br />
                                коментарий: {{item.taskDescription}}
                                <br />
                                <ins>дата создания:</ins>
                                {{item.taskDateCreate | dateFormatLong}}
                                <br />
                                <ins>план дата:</ins>
                                {{item.taskDatePlanned | dateFormatLong}}
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div ng-show="VisibleProfileInWork_" class="panel panel-primary">
        <div class="panel-heading">Документы в работе на точках продаж</div>

        <div class="panel-body">
            <div ng-show="processing['loadPersonsProfileInWorkOnOffice']
                    || processing['loadContractsProfileInWorkOnOffice']
                    || processing['loadPersonsProfileInWorkOnOffice']
                    || processing['loadPersonsProfileInWorkOnOffice']">

                <my-progressbar message="{{message}}"
                                visible="true"
                                typebar="line" />

            </div>

            <div ng-show="!processing['loadPersonsProfileInWork']
                    && !processing['loadContractsProfileInWork']
                    && !processing['loadPersonsProfileInWork']
                    && !processing['loadPersonsProfileInWork']">


                <h3>Закрепленные физ лица</h3>


                <table class="table">
                    <thead>

                    <th>Специалист</th>
                    <th>Физ. лицо</th>
                    <th>Дата</th>
                    <th>Инициатор</th>
                    <th>Задача</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in personsOnOffice | orderBy: 'dateCreate' : true"
                            ng-class="{'danger': item.dateCreateFirstResult == null } ">
                            <!--ng-class="{'warning': task.status == 'Hold' , 'success': task.status == 'Completed', 'active': task.status == 'Started', 'danger': item.dateCreateFirstResult == null } ">-->
                            <td></td>
                            <td>
                                <a href="#/Person/Info/{{item.id_Person}}">{{item.personFullName}}</a>
                                <br />
                                <ins>комментарий:</ins>
                                {{item.comment}}
                            </td>

                            <td>
                                <ins>дата создания:</ins>
                                <br />
                                {{item.dateCreate | dateFormatLong}}
                                <br />
                                <ins>план дата:</ins>
                                <br />
                                {{item.dateWorker | dateFormatLong}}
                                <br />
                                {{item.dateCreateFirstResult | dateFormatLong}}
                            </td>

                            <td>
                                <ins>инициатор:</ins>
                                <br />
                                {{item.createrFullName}}
                                <br />
                                <ins>в работе:</ins>
                                <br />
                                {{item.workerFullName}}
                            </td>

                            <td>
                                <b>{{item.taskTypeName}}</b>
                                <br />
                                коментарий: {{item.taskDescription}}
                                <br />
                                <ins>дата создания:</ins>
                                {{item.taskDateCreate | dateFormatLong}}
                                <br />
                                <ins>план дата:</ins>
                                {{item.taskDatePlanned  | dateFormatLong}}
                            </td>
                        </tr>
                    </tbody>
                </table>


                <h3>Закрепленные договоры</h3>

                <!--<div ng-show="VisibleAttachContractsProfileInWork">
                    <button class="btn btn-primary btn-sm"
                            ng-init="isSelectContractsAll = false;"
                            ng-click="isSelectContractsAll = !isSelectContractsAll; selectContractsAll(isSelectContractsAll);">
                        <div ng-show="!isSelectContractsAll">
                            выбрать все договора
                        </div>
                        <div ng-show="isSelectContractsAll">
                            снять все договора
                        </div>
                    </button>

                    <button class="btn btn-primary btn-sm" ng-click="attachContractsProfileInWork();">закрепить договора</button>
                    <button class="btn btn-primary btn-sm" ng-click="detachContractsProfileInWork();">открепить договора</button>
                    <br />
                    <br />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">выберите сотрудника</label>
                            <div class="col-sm-10">
                                <select ng-model="selectedContractProfile"
                                        ng-options="item as item.profileFullName for item in profiles"
                                        class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">укажите комментарий</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       class="form-control"
                                       placeholder="введите ваш комментарий"
                                       ng-model="commentContract" />
                            </div>
                        </div>
                    </div>
                </div>-->

                <table class="table">
                    <thead>

                        <!--<th ng-show="VisibleAttachContractsProfileInWork">закрепить</th>-->
                    <th>договор</th>
                    <th></th>
                    <th>инициатор</th>
                    <th>задача</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in contracts | orderBy: 'dateCreate' :true">


                            <!--<td ng-show="VisibleAttachContractsProfileInWork">
                                <button class="btn btn-primary btn-xs" ng-click="item.isSelected = !item.isSelected;">
                                    <div ng-show="!item.isSelected">
                                        выбрать
                                    </div>
                                    <div class="btn btn-primary btn-xs" ng-show="item.isSelected">
                                        снять
                                    </div>
                                </button>
                            </td>-->

                            <td>
                                <a href="#/Person/Info/{{item.id_Person}}">{{item.personFullName}}</a>
                                <br />
                                <a href="#/Contract/Info/{{item.id_Contract}}">{{item.contractNumber}}</a>
                                <br />
                                <ins>комментарий:</ins>
                                {{item.comment}}
                            </td>

                            <td>
                                <ins>дата создания:</ins>
                                <br />
                                {{item.dateCreate | dateFormatLong}}
                                <br />
                                <ins>план дата:</ins>
                                <br />
                                {{item.dateWorker | dateFormatLong}}

                            </td>

                            <td>
                                <ins>инициатор:</ins>
                                <br />
                                {{item.createrFullName}}
                                <br />
                                <ins>в работе:</ins>
                                <br />
                                {{item.workerFullName}}
                            </td>

                            <td>
                                <b>{{item.taskTypeName}}</b>
                                <br />
                                коментарий: {{item.taskDescription}}
                                <br />
                                <ins>дата создания:</ins>
                                {{item.taskDateCreate | dateFormatLong}}
                                <br />
                                <ins>план дата:</ins>
                                {{item.taskDatePlanned | dateFormatLong}}
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>