<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        СНИЛС
    </div>
    <div class="panel-body">
        <my-person-document typedoc="{ type: panelId, id: 23, idfiletype: 11 };"
                            visibleadddocument="true"
                            visiblefiledocument="true"
                            visibledownloadfiledocument="true"
                            visibleuploadfiledocument="true"
                            visibledeletefiledocument="true" />
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        Анкета
    </div>
    <div class="panel-body">
        <my-person-document typedoc="{ type: panelId, id: 21, idfiletype: 23 };"
                            visibleadddocument="true"
                            visiblefiledocument="true"
                            visibledownloadfiledocument="true"
                            visibleuploadfiledocument="true"
                            visibledeletefiledocument="true" />
    </div>
</div>

