<div>
    <legend>ИНН</legend>

    <div>
        <my-person-document typedoc="{ type: 'inn', id: 22, idfiletype: 10 }"
                            visibleadddocument="true"
                            visiblefiledocument="true"
                            visibledownloadfiledocument="true"
                            visibleuploadfiledocument="true"
                            visibledeletefiledocument="true" />
    </div>
</div>


<div>
    <legend>информация о работе</legend>

    <div>
        <my-person-document typedoc="{ type: 'work', id: 7, idfiletype: 38 }"
                            visibleadddocument="true"
                            visiblefiledocument="true"
                            visibledownloadfiledocument="true"
                            visibleuploadfiledocument="true"
                            visibledeletefiledocument="true" />
    </div>
</div>
