
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>КПК Твой Дом</title>
    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div> 
        body
    </div>
    <script src="~/RtApp/bundle.js"></script>
</body>
</html>
