<div ng-show="VisiblePersonsByPhone" class="panel panel-primary">
    <div class="panel-heading">Поиск по телефону</div>
    <div class="panel-body">

        <form ng-submit="phoneSearch()">
            <div class="form-group">
                <input ng-model="findphone" type="text" class="form-control" placeholder="Введите номер без 8, например 9871234567" />
            </div>
            <input type="submit" class="btn btn-primary btn-sm" value="Поиск">
            </formng-submit="phoneSearch()">
            <br />

            <div ng-show="processing['phoneSearch']">
                <my-progressbar message="{{message}}"
                                visible="true"
                                typebar="Leonardo" />
            </div>

            <div ng-show="persons.length != 0">

                <table class="table table-striped table-hover">
                    <thead>
                    <th>Телефон</th>
                    <th>Комментарий</th>
                    <th>Клиент</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in persons">
                            <td>{{item.phone}}</td>
                            <td>{{item.comment}}</td>
                            <td><a href="#/Person/Info/{{item.id}}">{{item.client}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>