<div class="row">
    <div class="col-md-6">
        <h1>Договоры</h1>
    </div>
    <div class="col-md-6"><my-alert-messages isload="true" /></div>
</div>

<ng-include src="contactPanelUrl">
</ng-include>