<div class="row">
    <div class="col-xs-12 text-center">
        <my-alert-messages-new-tasks issmall="true" isload="isload" />
    </div>

    <div class="col-xs-12">
        <h1>{{name}}</h1>
    </div>
</div>

@*http://thesmithfam.org/blog/2012/12/17/communicating-between-directives-in-angularjs/*@


<div>
    <my-office-select isload="isload" />
</div>
<br />
<div>
    <my-time-control isload="isload" />
</div>
