<div>
    <div class="row">
        <div class="col-xs-6">
            <h1>Входящий поток</h1>
        </div>
        <div class="col-xs-6 text-center">
            <my-alert-messages isload="true" />
        </div>
    </div>
    <div>
        <my-person-input-stream />
    </div>
    <div>
        <my-juridical-input-stream />
    </div>
</div>



