<div>
    @*<div>
        <my-alert-messages />
    </div>*@

    <legend>Задачи</legend>

    <div>
        <my-profile-in-work />
    </div>


    <div>
        <my-alert-messages-new-tasks issmall="false" />
    </div>

    <div>
        <my-persons-by-filters />
    </div>

    <div>
        <my-contracts-by-filters />
    </div>




</div>