<div>

    <div>
        <div ng-show="processing['save_pdp']
             || processing['getAddress']">

            <my-progressbar message="{{message}}"
                            visible="true"
                            typebar="circle" />
            <!--<br />-->
        </div>

        <!--<div>
            <my-servermessages messages="messages" />
        </div>-->
    </div>


    <div ng-show="!processing['save_pdp']
             && !processing['getAddress']">

        <div class="form-inline">
            <div class="form-group">

                <label for="postIndex"
                       class="control-label">
                    индекс
                </label>
                <div>
                    <input type="text"
                           id="postIndex"
                           class="form-control"
                           required
                           ng-model="address.postIndex"
                           ng-change="changedText()">
                </div>
            </div>
            <div class="form-group">
                <label for="country"
                       class="control-label">
                    страна
                </label>
                <div>
                    <input type="text"
                           class="form-control"
                           id="country"
                           required
                           ng-model="address.country"
                           ng-change="changedText()">
                </div>
            </div>
            <div class="form-group">
                <label for="region"
                       class="control-label">
                    регион
                </label>
                <div>
                    <input type="text"
                           class="form-control"
                           id="region"
                           required
                           ng-model="address.region"
                           ng-change="changedText()">
                </div>
            </div>
            <div class="form-group">
                <label for="city"
                       class="control-label">
                    город
                </label>
                <div>
                    <input type="text"
                           class="form-control"
                           id="city"
                           required
                           ng-model="address.city"
                           ng-change="changedText()">
                </div>
            </div>
            <div class="form-group">
                <label for="street"
                       class="control-label">
                    улица
                </label>
                <div>
                    <input type="text"
                           class="form-control"
                           id="street"
                           required
                           ng-model="address.street"
                           ng-change="changedText()">
                </div>
            </div>
            <div class="form-group">
                <label for="house"
                       class="control-label">
                    дом
                </label>
                <div>
                    <input type="text"
                           class="form-control"
                           id="house"
                           required
                           ng-model="address.house"
                           ng-change="changedText()">
                </div>
            </div>
            <div class="form-group">
                <label for="building"
                       class="control-label">
                    корпус
                </label>
                <div>
                    <input type="text"
                           class="form-control"
                           id="building"
                           required
                           ng-model="address.building"
                           ng-change="changedText()">
                </div>
            </div>
            <div class="form-group">
                <label for="flat"
                       class="control-label">
                    квартира
                </label>
                <div>
                    <input type="text"
                           class="form-control"
                           id="flat"
                           required
                           ng-model="address.flat"
                           ng-change="changedText()">
                </div>
            </div>
        </div>

        <div ng-show="visiblebutton">
            <br />
            <button class="btn btn-primary btn-sm" ng-click="save()">сохранить адрес</button>
            <br />
        </div>
    </div>
</div>
