<div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
        <th>Дата платежа</th>
        <th>Сумма</th>
        <th>Инициатор</th>
        <th>Банк</th>
        <th>-</th>
        <th ng-show="deletePaymentVisible">-</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in payments">
                <td>{{item.datePay}}</td>
                <td>{{item.sum}}</td>
                <td>{{item.userCreate}}</td>
                <td>{{item.isBank}}</td>
                <td>
                    <div ng-show="item.id_Person_File != null">
                        <a target="_blank" href="/File/Download/{{item.id_Person_File}}">скачать</a>
                    </div>
                    <div ng-show="item.id_Person_File == null && !processing[item.id]">
                        <button class="btn btn-primary btn-sm" ng-click="createFilePayment(item)">создать</button>
                    </div>
                    <div ng-show="processing[item.id]">
                        <my-progressbar typebar="circle" visible="processing[item.id]" />
                    </div>

                </td>
                <td ng-show="deletePaymentVisible">
                    <button class="btn btn-primary btn-sm" ng-click="delPayment(item.id)">удалить</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>