<div>
    <br />
    <legend>займы</legend>
    @*<legend ng-show="personinfo.isJuridical">вклады</legend>*@
    <br />

    <div ng-show="processing['loadPerson']
               || processing['addContract']
               || processing['loadPersonContract']">

        <div>
            <my-progressbar message="{{message}}"
                            visible="true"
                            typebar="line" />
        </div>
        <br />
    </div>

    <div ng-show="!processing['loadPerson'] && !processing['loadPersonContract'] && !processing['addContract']">
        <div>
            <button class="btn btn-primary btn-sm"
                    ng-show="VisibleButtonAddCard && !inBlackList && !processing['loadPerson']"
                    ng-click="addContract();">
                добавить
            </button>
        </div>

        <div ng-show="inBlackList">
            <h2>клиент в черном списке</h2>
        </div>

        <br />

        <div>
            <my-contracttable contracts="contracts" />
        </div>

    </div>
</div>